body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.header { 
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #eeeeee;
    align-items: center;
    padding: 24px 224px 64px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 18px;
    margin-left: 12px;
} 

.button1 {
    font-size: 24px;
    background-color: #3882f6;
    color: #eeeeee;
    border-radius: 12px;
    padding: 8px 24px;
    max-width: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 24px 224px 64px;
    height: 100%;
}
.content img {
    border: 6px solid #3882f6;
    border-radius: 8px;
}

 .content p {
    font-size: 32px;
    font-family: cursive;
    font-weight: 900;
    margin: 8px; 
}

.quote {
     display: flex;
     background-color: #e5e7eb;
}

footer {
     margin-top: auto;
     min-height: 50px;
     display: flex;
     justify-content: center;
     background-color: #1f2937;
    color: #eeeeee;
    font-size: 24px;
    align-items: center;
}

.firsth2,
.firsth1,
.firsth4 {
    margin: 0;
}

.firsth1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    
}

.firsth4 {
    font-size: 22px;
    color: #e5e7eb;
    
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 64px;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    height: 100%;
    gap: 64px;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 250px;
    justify-content: space-between;
    margin-right: 96px;
}

.contentbottom {
    display: flex;
    gap: 16px;
    flex-wrap:wrap;
}

.Colombia,
.Utah,
.Bulgaria,
.Mexico {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
    display: flex;
    padding: 64px 224px 64px;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.blockquote {
    display: flex;
    font-size: 36px;
    font-family: cursive;
    flex-wrap: wrap;
}

.figcaption {
    display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 24px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;

}

.lastpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px 64px;
    flex-direction: row;
    height: 100%;
    flex-grow: 0;
    
}

.lastpartbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eeeeee;
    background-color: #3882f6;
    width: 100%;
    padding: 8px 80px 8px;
    border-radius: 8px;
    margin: 8px 224px 8px;
}

.buttonlastpart {
    font-size: 24px;
    background-color: #3882f6;
    color: #eeeeee;
    border-radius: 12px;
    padding: 8px 24px;
    border: 2px solid #eeeeee;


}









